* {
    margin: 0;
    box-sizing: content-box;
}

h1 {
    margin-bottom: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: solid rgb(109, 109, 109) 1px;
    border-radius: 1rem;
}

.row {
    display: flex;
    gap: 1rem;
}

.column * {
    display: block;
}

.numButton, .opButton, #pointButton {
    width: 4rem;
    height: 4rem;
    padding: 0;
}

.clearButton {
    height: 4rem;
    width: 50%;
}

.row.display {
    background-color: darkgray;
    border-radius: .25rem;
    border: solid rgb(68, 68, 68) 1px;
    padding: 1rem;
    height: 6rem;
    flex-direction: column;
    text-align: right;
    font-size: 1.8rem;
    gap: 0;
    justify-content: end;
}

#mainRow {
    font-size: 3rem;
}


#follower {
    position: fixed;
    width: 30px;
    height: 30px;
    background: #ff6b6b;
    border-radius: 50%;
    pointer-events: none; /* So it doesn't interfere with mouse events */
    transform: translate(-50%, -50%); /* Centers the circle on cursor */
    transition: transform 0.1s ease-out; /* Smooth following */
}

button {
  position: relative;
  background: #3b82f6;
  overflow: hidden;
  color: white;
  border: none;
  cursor: pointer;
}

.buttonColoring {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  transition: left 0.5s ease, top 0.5s ease;
  transform: rotate(0);
  z-index: 2;
  background-color: #8b5cf6;
  border-radius: 100%;
}

/* button:hover .buttonColoring {
    left: 0;
    top: 0;
} */